header{
    background-color: #ffffff;
    text-align: center;
    color: #D15A7C
}
body {
    font-family: Arial, sans-serif;
}
h4{
    color: black;
}

img{
    width: 100%;
    height: 100%;
}

.container_productos{
    display: flex;
    background-color: #D15A7C;
    justify-content: center;
    width: 100%;
}

.item_container_productos{
    width: 350px;
    padding: 5% 10%;
    text-align: center;
    color: #ffffff;
}

.container_botes{
    display: inline-flex;
    background-color: #F6EEC7;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;

    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5%;
}

.item_botes > p{
    border-bottom-color: #D15A7C;
    border-bottom-width: 1px;
    border-bottom-style: solid; 
}

.item_botes{
    height: 100%;
    width: 300px;
    justify-content: center;
    align-content: center;
    padding: 2% 5%;
}

.item_botes_img{
    margin: 0px;
    border: 0px;
    padding: 0%;
    width: 50%;
    justify-content: center;
    align-content: center;
}

.container_pastel{
    display: flex;
    background-color: #D15A7C;
    justify-content: center;
    flex-direction: row;
    height: 5%;
    align-content: center; 
    column-gap: 5%;
    row-gap: 5%;
    padding: 2% 10%;
}

.container_pastel > div{
    width: 20%;
    height: 100%;
}

.container_2pastel{
    background-color: #F6EEC7;
    display: flex;
    
    justify-content: center;
    align-content: space-around; 
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4% 10%;
    row-gap: 5%;
}

.container_2pastel > div>  p:first-child{
    color: black;
    font-weight: bold;
}

.item_container_2pastel{
    width: 200px;
    height: auto;
    padding: 0% 2%;
}

.item_container_2pastel_img{
    width: 200px;
    height: 100%;
    padding: 2% 0%;
}

.container_1paletas{
    background-color: #D15A7C;
    display: inline-flex;
    width: 100%;
    height: auto;
}

.item_imagen_paleta{
    width: 100%;
    height: auto;
}

.container_2paletas{
    display: inline-flex;
    width: 100%;
}

.item_subtitulo_paleta{
    background-color: #ffffff;
    text-align: center;
    width: 100%;
    color: #D15A7C;
    font-weight: bold;
}

.container_3paletas{
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.item_1paleta{
    background-color: #D15A7C;
    padding: 2% 5%;
    flex-direction: column;
    width: 30%;
    color: #ffffff;
}

.item_2paleta{
    background-color: #F7D695;
    padding: 2% 5%;
    flex-direction: column;
    width: 30%;
}

.item_3paleta{
    background-color: #EE8972;
    padding: 2% 5%;
    flex-direction: column;
    width: 30%;
}


.container_perrunos{
    display: flex;
    background-color: #F6EEC7;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
}

.item_container_perrunos{
    width: auto;
    text-align: center;
}

.item_container_perunnos_img{
    width: 400px;
    padding: 2%;
}

button{
    color: #ffffff;
    background-color: #D15A7C;
    height: 40px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
   
}
nav a {
    text-decoration: none;
    color: #D15A7C;
    transition: color 0.3s; /* Transición de color suave de 0.3 segundos */
    transition: font-size 0.4s;/* Transición de tamaño suave de 0.3 segundos */
    font-size: 16px; /* Tamaño de fuente inicial */
}

/* Cambio de color al pasar el mouse por encima */
nav a:hover {
    color: #8B4513; /* Color diferente al pasar el mouse */
    font-size: 18px; /* Tamaño de fuente aumentado al pasar el mouse */
}
